.header {
  height: 80px;
  background-color: #2525259b;

  .header-items {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;

    ul {
      margin: 0;
      height: 100%;
      display: table;
    }

    li {
      display: table-cell;
      padding: 20px;
      vertical-align: middle;
    }
  }
}